body{
	background-color: rgb(179, 255, 102);
}
.box{
	background-image: url("pic.jpg");
	margin: 50px 100px;
	padding: 180px;
	/*border:5px red solid;*/
	border-radius: 15px;
	background-repeat: no-repeat;
}
.h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Baloo Bhai', cursive;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	color: white;
}
.table{
	border: 2px solid grey;
	padding: 10px;
	margin: 80px auto;
	/*max-width: 700px;*/
	width: 80%;
	font-family: 'Source Sans Pro', sans-serif;
}
.head{
	text-align: center;
	font-size: 25px;
	font-family: 'Baloo Bhai', cursive;
	font-weight: bold;
	/*text-decoration: underline;
	text-transform: uppercase;*/
background-color:red ;
color: white;

}
.name{
	font-size: 23px;
	text-align: center;
	background-color: grey;
	color: white;
	letter-spacing:.2em;
	font-family: 'Baloo Bhai', cursive;
}
.left{
/*border: 2px solid red;
*/display: inline-block;
position: absolute; /*it is poistioned relative to ht nearest postioned ancestor*/
left: 34px;
top: 20px;
}
.left img{
	width:75px;
}
.mid{
/*border: 1px solid green;
*/display: block;
width: 42%;
margin: 12px auto;/*anything which we want to move to center than we use margin including display as block and width should have some value*/
top: 20px;

}
.right{
/*border: 2px solid blue;
*/display: inline-block;
position: absolute; /*it is poistioned relative to ht nearest postioned ancestor*/
right: 34px;
top: 20px;
}
.navbar{
	display: inline-block;
}
.navbar li{
	display: inline-block;
	font-size: 23px;
}
.navbar li a{
	color: white;
	text-decoration:none;
	padding: 20px;

}
.navbar li a:hover{

	text-decoration: underline;
	color: grey;
}
.btn{
	margin: 0px 8px;
	padding-left: 4px 14px;
	border-radius: 4px;
	border:2px solid grey;
	font-size: 18px;
	cursor:pointer;
	font-family: 'Baloo Bhai', cursive;

}
.btn:hover{
	background-color: grey;

}